.hero {
  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  background-color: $primary-background-color;
  background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
    url('../images/hero_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    height: 600px;
  }
}

.hero__title {
  max-width: 360px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $secondary-color;

  @media screen and (min-width: 768px) {
    // max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
