.hero {
	max-width: 1600px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;

	text-align: center;

	background-color: $primary-background-color;
	background-image: linear-gradient(to right,
			$hero-gradient-color,
			$hero-gradient-color),
		url('../images/hero_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero__title {
	max-width: 696px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: $secondary-color;
}