.hero {
  height: 400px;

  margin-right: auto;
  margin-left: auto;

  text-align: center;

  background-color: $primary-background-color;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: $desktop-min) {
  .hero {
    height: 600px;

    background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
      url('../images/hero_bg-1200.jpg');
    background-size: 1600px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
        url('../images/hero_bg-1200@2x.jpg');
    }
  }
}

@media screen and (min-width: $tablet-min) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
      url('../images/hero_bg-768.jpg');
    background-size: 768px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
        url('../images/hero_bg-768@2x.jpg');
    }
  }
}

@media screen and (min-width: $mobile-min) and (max-width: $tablet-max) {
  .hero {
    background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
      url('../images/hero_bg-480.jpg');
    background-size: 480px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
        url('../images/hero_bg-480@2x.jpg');
    }
  }
}

@media screen and (max-width: $mobile-max) {
  .hero {
    background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
      url('../images/hero_bg-480.jpg');
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
        url('../images/hero_bg-480@2x.jpg');
    }
  }
}

.hero__title {
  max-width: 360px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $secondary-color;

  @media screen and (min-width: $desktop-min) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
