.page-header {
  position: relative;
  border-bottom: 1px solid $header-border-color;
}

.page-header__menu {
  width: 100%;

  @include centeredFlex($jc: space-between);

  @media screen and (max-width: $tablet-max) {
    display: none;
  }
}
