.page-header {
  position: relative;
  border-bottom: 1px solid $header-border-color;
}

.page-header__menu {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
