.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__link {
	color: $secondary-color;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $accent-color;
	}	
}

.address__contact {
	color: $footer-primary-text-color;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $accent-color;
	}
}
