.grid-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.grid-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 370px;
  }
}
