.grid-list {
	display: flex;
	flex-wrap: wrap;
}

.grid-list__item {
	width: calc((100% - 60px) / 3);

	background-color: $secondary-color;

	&:not(:nth-child(3n)) {
		margin-right: 30px;
	}

	&:not(:nth-last-child(-n + 3)) {
		margin-bottom: 30px;
	}
}