.clients-list {
	display: flex;
}

.clients-list__item {
	width: 170px;
	height: 92px;

 	&:not(:last-child) {
		margin-right: 30px;
	}
}

.clients-list__link {
	width: 100%;
	height: 100%;
	border: 1px solid $social-icons-color;
	border-radius: 4px;

	@include centeredFlex();

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border-color: $accent-color;
	}
}

.clients-list__icon {
	fill: $social-icons-color;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.clients-list__link:hover &,
	.clients-list__link:focus & {
		fill: $accent-color;
	}
}