.contact-list {
  @media screen and (max-width: $tablet-max) {
    margin-top: auto;
    margin-bottom: 64px;
  }
  @media screen and (min-width: $desktop-min) {
    display: flex;
  }
}

.contact-list__item {
  &:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (max-width: $tablet-max) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: $desktop-min) {
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
}

.contact-list__contact {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.14;

  color: $primary-color;

  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact-list__contact--tel {
  font-size: 34px;
  line-height: 1.18;

  color: $accent-color;
}

.contact-list__contact--email {
  font-size: 24px;
  line-height: 1.17;
}

.contact-list__icon {
  margin-right: 8px;

  fill: $primary-color;

  transition: fill 250ms $cubic;

  .contact-list__contact:hover &,
  .contact-list__contact:focus & {
    fill: $accent-color;
  }

  @media screen and (min-width: $desktop-min) {
    margin-right: 10px;
  }
}
