.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.container--header {
	display: flex;
	align-items: center;
}

.container--footer {
	display: flex;
	align-items: baseline;
}