.policy-checkbox {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

	@include centeredFlex();

	cursor: pointer;
}

.policy-checkbox__custom {
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 7px;

	border: 2px solid #212121;
	border-radius: 2px;

	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.policy-checkbox__original:focus + & {
		border-color: $accent-color;
	}

	.policy-checkbox__original:checked + & {
		background-image: url('../images/icon-check.svg');
		background-color: $accent-color;
		border-color: transparent;
		background-origin: border-box;
		box-sizing: cover;
		background-repeat: no-repeat;
	}
}

.policy-checkbox__link {
	text-decoration-line: underline;

	color: $accent-color;
}