.features-list {
  @media screen and (min-width: $tablet-min) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features-list__item {
  @media screen and (max-width: $tablet-max) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tablet-min) {
    width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: $desktop-min) {
    width: 270px;
  }
}

.features-list__icon-box {
  margin-bottom: 30px;
  height: 120px;

  @include centeredFlex();

  background-color: $secondary-background-color;
  border-radius: 4px;
}

.features-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  color: $title-color;

  @media screen and (min-width: $tablet-min) {
    text-align: left;
  }
}
