.main-button {
	min-width: 200px;
	min-height: 50px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 32px;
	padding-right: 32px;

	@include centeredFlex(inline-flex);

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	background-color: $accent-color;
	color: $secondary-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
	background-color: $btn-hover-color;
}

.main-button--subscribe {
	padding-right: 28px;
	padding-left: 28px;

	fill: $secondary-color;
}

.main-button--form {
	padding-right: 52px;
	padding-left: 52px;

}

.main-button__text {
	margin-right: 10px;
}