.main-button {
  min-width: 200px;
  min-height: 50px;

  @include centeredFlex(inline-flex);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  color: $secondary-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: $secondary-color;

  &:hover,
  &:focus {
    background-color: $btn-hover-color;
  }
}

.main-button--hero {
  min-width: 216px;
}

.main-button__icon {
  margin-left: 10px;
}
