.menu-button {
  padding-top: 10px;
  padding-bottom: 10px;

  @include centeredFlex(inline-flex);
  outline: none;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet-min) {
    display: none;
  }
}

.menu-button--close {
  position: absolute;
  top: 0px;
  right: 15px;
}
