.order-form {
  width: 100%;
  height: 100%;

  text-align: center;
}

.order-form__wrap {
  position: relative;
  margin-bottom: 10px;

  display: block;

  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  cursor: pointer;

  &:nth-last-child(3) {
    margin-bottom: 20px;
  }
}

.order-form__label {
  display: inline-block;

  margin-bottom: 4px;

  color: $primary-color;
  cursor: pointer;
}

.order-form__input {
  width: 100%;
  height: 40px;

  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;

  font-size: 14px;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
  cursor: pointer;

  transition: border-color 250ms $cubic;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.order-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  transition: fill 250ms $cubic;

  .order-form__wrap:hover &,
  .order-form__input:focus + & {
    fill: $accent-color;
  }
}

.order-form__textarea {
  width: 100%;
  height: 120px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  display: block;

  resize: none;

  font-size: 14px;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms $cubic;

  outline: none;
  cursor: pointer;

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $placeholder-color;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}
