.section-title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  color: $title-color;

  @media screen and (min-width: $desktop-min) {
    font-size: 36px;
    line-height: 1.67;
    margin-bottom: 50px;
  }
}
