.subscribe-form__input {
	min-width: 358px;
	height: 50px;

	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
	

	font-size: 16px;
	line-height: 1.25;

	color: $secondary-color;

	background-color: $primary-background-color;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline: none;

	cursor: pointer;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


	&::placeholder {
		color: $footer-primary-text-color;
	}

	&:hover,
	&:focus {
		border-color: $accent-color;
	}
}