.teammate-list {
  line-height: 1.19;
  text-align: center;

  @media screen and (min-width: $tablet-min) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.teammate-list__card {
  max-width: 450px;
  padding-bottom: 24px;

  background-color: $secondary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: $tablet-max) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet-min) {
    max-width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: $desktop-min) {
    max-width: 270px;
    padding-bottom: 30px;
  }
}

.teammate-list__photo {
  margin-bottom: 30px;
}

.teammate-list__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;

  color: $title-color;
}

.teammate-list__position {
  margin-bottom: 16px;

  font-size: 16px;
}
