.works-list {
	display: flex;
}

.works-list__item {
	position: relative;

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.works-list__wrap {
	position: absolute;
	bottom: 0;

	width: 100%;
	height: 70px;

	@include centeredFlex();

	background-color: $works-wrapper-bg;
}

.works-list__text {
	font-weight: 700;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;

	color: $secondary-color;
}