body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: $primary-color;
	background-color: $secondary-color;
}

button {
	cursor: pointer;
	border: none;
	background-color: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}