$primary-color: #757575;
$secondary-color: #ffffff;
$title-color: #212121;
$accent-color: #2196f3;
$primary-background-color: #2f303a;
$secondary-background-color: #f5f4fa;
$header-logo-color: #000000;
$footer-primary-text-color: rgba(255, 255, 255, 0.6);
$btn-hover-color: #188ce8;
$header-border-color: #ececec;
$card-border-color: #eeeeee;
$hero-gradient-color: rgba(47, 48, 58, 0.4);
$social-icons-color: #afb1b8;
$footer-soc-bg: rgba(255, 255, 255, 0.1);
$portfolio-wrapper-bg: rgba(33, 150, 243, 0.9);
$works-wrapper-bg: rgba(47, 48, 58, 0.8);
$backdrop-overlay-color: rgba(0, 0, 0, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
